/* From Uiverse.io by micaelgomestavares */ 
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 60%;
  background-color: #ffffff4d;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  
}

.title {
  font-size: 28px;
 color: #6A877D;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.title::before,.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background: linear-gradient(
    140deg,
    hsla(var(--back-color), 32%, 1) min(2em, 20%),
    hsla(var(--back-color), 12%, 0.6) min(8em, 100%)
  );
     --bezier: cubic-bezier(0.22, 0.61, 0.36, 1);
  --edge-light: hsla(0, 0%, 50%, 0.8);
  --text-light: rgba(255, 255, 255, 0.4);
  --back-color: 160, 80%;
  box-shadow: inset 0.4px 1px 4px var(--edge-light);

}

.title::before {
  width: 18px;
  height: 18px;
  background: linear-gradient(
    140deg,
    hsla(var(--back-color), 32%, 1) min(2em, 20%),
    hsla(var(--back-color), 12%, 0.6) min(8em, 100%)
  );
     --bezier: cubic-bezier(0.22, 0.61, 0.36, 1);
  --edge-light: hsla(0, 0%, 50%, 0.8);
  --text-light: rgba(255, 255, 255, 0.4);
  --back-color: 160, 80%;
  box-shadow: inset 0.4px 1px 4px var(--edge-light);
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.message, .signin {
  color: rgba(88, 87, 87, 0.822);
  font-size: 14px;
}

.signin {
  text-align: center;
}

.signin a {
  color: #258F6C;
}

.signin a:hover {
  text-decoration: underline #6A877D;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form label .input + span {
  position: absolute;
  left: 15px;
  top: 15px;
  color: grey;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.submit {
  border: none;
  outline: none;
 
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: .3s ease;
    background: linear-gradient(
    140deg,
    hsla(var(--back-color), 32%, 1) min(2em, 20%),
    hsla(var(--back-color), 12%, 0.6) min(8em, 100%)
  );
     --bezier: cubic-bezier(0.22, 0.61, 0.36, 1);
  --edge-light: hsla(0, 0%, 50%, 0.8);
  --text-light: rgba(255, 255, 255, 0.4);
  --back-color: 160, 80%;
  box-shadow: inset 0.4px 1px 4px var(--edge-light);
}

.submit:hover {
  background-color: rgb(23, 163, 69);
  cursor: pointer;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}
.form-sign_up{

    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
    body{
        padding: 0;
    }
footer {
    margin-top: 0;
}